# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.sqlite3
db.sqlite3
/static_cdn/
/media/

# Environment & secrets
.env
.env.*
.envrc

# Node / web
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter
build/
.dart_tool/
.packages

# IDE / OS
.vscode/
.idea/
.DS_Store
